.card {
  width: 230px;
  border: 1px solid #EEEEEE;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  background: rgba(155, 155, 155, 0.3);
}


.card__image {
  width: 100%;
  padding: 2rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__image > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card__data {
  padding: 1rem;
}

.card__content {
  height: 37px;
}

.card__title {
  font-size: 1rem;
  margin-top: 4px;
  color: white;
}

.card__artist {
  color: var(--gray);
  margin-top: 4px;
}

.card .card__action {
  margin-top: 12px;
  display: flex;
  justify-content: flex-end;
}
.icon{
  height: 3.5rem;
  width: 3.5rem;
}