.create-playlist-form {
  display: flex;
  justify-content: center;
}

.form-playlist {
  min-width: 800px;
  width: 100%;
  margin-top: 24px;
}

.form-playlist__action {
  display: flex;
  justify-content: flex-end;
}